$font-light: white;
$font-grey: #a2a2a2;
$font-dark: black;

$background-light: white;
$background-grey-light: #fafafa;

$border-grey: #dbdbdb;
$border-dark: black;

$action: #0095f6;
$danger: #ed4956;
